A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #333333
}
A:hover {
	COLOR: #ae0927
}
A:active {
	COLOR: #0000ff
}
A.Channel:link {
	COLOR: #3366ff
}
A.Channel:visited {
	COLOR: #3366ff
}
A.Channel:hover {
	COLOR: #3366ff
}
A.Channel:active {
	COLOR: #3366ff
}
A.Channel2:link {
	COLOR: #000000
}
A.Channel2:visited {
	COLOR: #000000
}
A.Channel2:hover {
	COLOR: #ff6600
}
A.Channel2:active {
	COLOR: #ffff00
}
A.Bottom:link {
	COLOR: #ffffff
}
A.Bottom:visited {
	COLOR: #ffffff
}
A.Bottom:hover {
	COLOR: #ffff00
}
A.Bottom:active {
	COLOR: #ffffff
}
A.Class:link {
	COLOR: #000000
}
A.Class:visited {
	COLOR: #000000
}
A.Class:hover {
	COLOR: #ff0000
}
A.Class:active {
	COLOR: #000000
}
BODY {
	SCROLLBAR-FACE-COLOR: #f6f6f6; FONT-SIZE: 9pt;  SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #cccccc; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #330000; SCROLLBAR-TRACK-COLOR: #f6f6f6; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 150%; FONT-FAMILY: 宋体
}
INPUT {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
BUTTON {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
SELECT {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
.top_UserLogin {
	COLOR: #037fa8
}
.Channel_border {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.Channel_title {
	FONT-WEIGHT: bold; BACKGROUND: #cccccc; COLOR: #037fa8; HEIGHT: 27px; TEXT-ALIGN: center
}
.Channel_tdbg {
	BACKGROUND: #fafafa; LINE-HEIGHT: 120%
}
.Channel_pager {
	BACKGROUND: #fafafa; LINE-HEIGHT: 120%
}
.Comment_border {
	BORDER-RIGHT: #449ae8 1px solid; BORDER-TOP: #449ae8 1px solid; BORDER-LEFT: #449ae8 1px solid; BORDER-BOTTOM: #449ae8 1px solid
}
.Comment_title {
	FONT-WEIGHT: normal; BACKGROUND: #449ae8; COLOR: #ffffff; HEIGHT: 25px
}
.Comment_tdbg1 {
	BACKGROUND: #ffffff; LINE-HEIGHT: 120%
}
.Comment_tdbg2 {
	BACKGROUND: #fafafa
}
.S_headline1 {
	COLOR: blue
}
.S_headline2 {
	COLOR: #ff6600
}
.S_headline3 {
	COLOR: green
}
.S_headline4 {
	COLOR: red
}
.top_tdbgall {
	BACKGROUND: #ffffff; WIDTH: 760px
}
.top_top {
	BACKGROUND: #0089f7; HEIGHT: 2px
}
.top_Channel {
	BORDER-TOP: #ffffff 1px solid; BACKGROUND: #0089f7; COLOR: #3ab1f5! important; BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: right
}
.top_Announce {
	BACKGROUND: url(/Skin/blue/top_nav_menu.gif); COLOR: #0560a6; HEIGHT: 30px
}
.top_nav_menu {
	BACKGROUND: url(/Skin/blue/top_nav_menu.gif); COLOR: #0560a6; HEIGHT: 30px
}
.top_Path {
	BACKGROUND: #ffffff; WIDTH: 760px; HEIGHT: 30px
}
.top_UserLogin {
	COLOR: #037fa8
}
.center_tdbgall {
	BACKGROUND: #ffffff
}
.left_tdbgall {
	BACKGROUND: #ffffff
}
.left_title {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url(/Skin/blue/left_title.gif); WIDTH: 180px; COLOR: #ffffff; HEIGHT: 28px; TEXT-ALIGN: left
}
.left_tdbg1 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 5px; BACKGROUND: url(/Skin/blue/left_tdbg1.gif); LINE-HEIGHT: 150%
}
.left_tdbg2 {
	BACKGROUND: url(/Skin/blue/left_tdbg2.gif); HEIGHT: 10px
}
.right_title {
	PADDING-LEFT: 40px; FONT-WEIGHT: bold; BACKGROUND: url(/Skin/blue/right_title.gif); WIDTH: 180px; COLOR: #ffffff; HEIGHT: 28px; TEXT-ALIGN: left
}
.main_tdbgall {
	BACKGROUND: #ffffff; WIDTH: 572px
}
.main_shadow {
	HEIGHT: 4px
}
.main_announce {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; BACKGROUND: #f9f9f9; BORDER-LEFT: #d2d3d9 1px solid; COLOR: #037fa8; BORDER-BOTTOM: #d2d3d9 1px solid; HEIGHT: 25px
}
.main_Search {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; BACKGROUND: #f9f9f9; BORDER-LEFT: #d2d3d9 1px solid; COLOR: #037fa8; BORDER-BOTTOM: #d2d3d9 1px solid; HEIGHT: 25px
}
.main_top {
	BACKGROUND: url(/Skin/blue/main_top.gif); HEIGHT: 187px
}
.main_title_760i {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 40px; BACKGROUND: url(/Skin/blue/main_title_760i.gif); BORDER-LEFT: #d2d3d9 1px solid; COLOR: #ffffff; HEIGHT: 29px; TEXT-ALIGN: left
}
.main_tdbg_760i {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #d2d3d9 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #d2d3d9 1px solid; TEXT-ALIGN: left
}
.main_title_575 {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 40px; BACKGROUND: url(/Skin/blue/main_title_575.gif); BORDER-LEFT: #d2d3d9 1px solid; COLOR: #ffffff; HEIGHT: 29px; TEXT-ALIGN: left
}
.main_tdbg_575 {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #d2d3d9 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #d2d3d9 1px solid; TEXT-ALIGN: left
}
.main_title_282i {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 40px; BACKGROUND: url(/Skin/blue/main_title_282i.gif); BORDER-LEFT: #d2d3d9 1px solid; COLOR: #ffffff; HEIGHT: 29px
}
.main_tdbg_282i {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #d2d3d9 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #d2d3d9 1px solid; TEXT-ALIGN: left
}
.main_title_282 {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 40px; BACKGROUND: url(/Skin/blue/main_title_282.gif); BORDER-LEFT: #d2d3d9 1px solid; COLOR: #ffffff; HEIGHT: 29px
}
.main_tdbg_282 {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #d2d3d9 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #d2d3d9 1px solid; TEXT-ALIGN: left
}
.listbg {
	BACKGROUND: #ffffff
}
.listbg2 {
	BACKGROUND: #f7f7f7
}
.main_ArticleTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff0000; LINE-HEIGHT: 150%
}
.main_ArticleSubheading {
	FONT-WEIGHT: bold; COLOR: #037fa8; LINE-HEIGHT: 150%
}
.main_title_760 {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; BACKGROUND: url(/Skin/blue/main_title_760.gif); BORDER-LEFT: #d2d3d9 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #d2d3d9 1px solid; HEIGHT: 28px
}
.main_tdbg_760 {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #d2d3d9 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 8px; BORDER-BOTTOM: #d2d3d9 1px solid
}
.Article_tdbgall {
	BACKGROUND: #f5f5f5
}
A.Guest:link {
	COLOR: #ffffff
}
A.Guest:visited {
	COLOR: #ffffff
}
A.Guest:hover {
	COLOR: #ff0000
}
A.Guest:active {
	COLOR: #ffffff
}
.Guest_title_760 {
	BORDER-RIGHT: #d2d3d9 1px solid; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(/Skin/blue/main_title_760.gif); BORDER-LEFT: #d2d3d9 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #d2d3d9 1px solid; HEIGHT: 29px
}
.Guest_tdbg_760 {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #d2d3d9 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #d2d3d9 1px solid
}
.Guest_border {
	BORDER-RIGHT: #449ae8 1px solid; BORDER-TOP: #449ae8 1px solid; BORDER-LEFT: #449ae8 1px solid; BORDER-BOTTOM: #449ae8 1px solid
}
.Guest_title {
	FONT-WEIGHT: normal; BACKGROUND: #449ae8; COLOR: #ffffff; HEIGHT: 25px
}
.Guest_tdbg {
	BACKGROUND: #fafafa; LINE-HEIGHT: 120%
}
.Guest_tdbg_1px {
	BACKGROUND: #d2d3d9
}
.Guest_border2 {
	BORDER-RIGHT: #97d2df 1px dashed; BORDER-TOP: #97d2df 1px dashed; BACKGROUND: #e8f5f8; BORDER-LEFT: #97d2df 1px dashed; COLOR: #006633; BORDER-BOTTOM: #97d2df 1px dashed
}
.Guest_ReplyAdmin {
	COLOR: #ff0000
}
.Guest_ReplyUser {
	COLOR: #449ae8
}
.Shop_border {
	BORDER-RIGHT: #449ae8 1px solid; BORDER-TOP: #449ae8 1px solid; BORDER-LEFT: #449ae8 1px solid; BORDER-BOTTOM: #449ae8 1px solid
}
.Shop_border3 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.Shop_title {
	FONT-WEIGHT: normal; BACKGROUND: url(/Skin/blue/main_title_760.gif); COLOR: #ffffff; HEIGHT: 27px
}
.Shop_tdbg {
	BACKGROUND: #fafafa; LINE-HEIGHT: 120%
}
.Shop_tdbg2 {
	BACKGROUND: #f5f5f5; LINE-HEIGHT: 120%
}
.Shop_tdbg3 {
	BACKGROUND: #ffffff; LINE-HEIGHT: 120%
}
.Shop_tdbg4 {
	BACKGROUND: #e1f4ee; LINE-HEIGHT: 120%
}
.Bottom_tdbgall {
	BACKGROUND: #ffffff; WIDTH: 760px
}
.Bottom_Adminlogo {
	BACKGROUND: #0089f7; COLOR: #ffffff
}
.Bottom_Copyright {
	BACKGROUND: #ffffff; COLOR: #000000
}
.menu {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; WIDTH: 97%; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #cccccc
}
.menuBody {
	BACKGROUND-COLOR: #ffffff
}
.Channel_font {
	COLOR: red
}
.Guest_font {
	COLOR: green
}
A.Guest:link {
	COLOR: #000000
}
A.Guest:visited {
	COLOR: #000000
}
A.Guest:hover {
	COLOR: #ff6600
}
A.Guest:active {
	COLOR: #000000
}
.user_left {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #f3f3f3; BORDER-LEFT: #ffffff 2px solid; WIDTH: 170px
}
.user_box {
	BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px solid; BACKGROUND-COLOR: #ffffff
}
.user_righttitle {
	BORDER-RIGHT: #ffffff 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 2px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #bfbfbf 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.user_line {
	BACKGROUND-IMAGE: url(images/line.gif); LINE-HEIGHT: 1px
}
.user_toolstop {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 28px; LETTER-SPACING: 4pt
}
.user_toolsbot {
	BORDER-RIGHT: #ffffff 4px solid; FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 25px
}
.user_toolspoint {
	PADDING-LEFT: 6px
}
.user_right {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; WIDTH: 572px; BACKGROUND-COLOR: #ffffff
}
.border1 {
	BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px solid
}
.title {
	FONT-WEIGHT: normal; BACKGROUND: #449ae8; COLOR: #ffffff
}
.border {
	BORDER-RIGHT: #449ae8 1px solid; BORDER-TOP: #449ae8 1px solid; BORDER-LEFT: #449ae8 1px solid; BORDER-BOTTOM: #449ae8 1px solid
}
.tdbg {
	BACKGROUND: #f0f0f0; LINE-HEIGHT: 120%
}
.tdbgmouseover {
	BACKGROUND: #bfdfff; LINE-HEIGHT: 120%
}
.tdbg2 {
	BACKGROUND: #e0eef5; LINE-HEIGHT: 120%
}
.tdbg5 {
	BACKGROUND: #e0eef5; LINE-HEIGHT: 120%
}
.title5 {
	BACKGROUND: url(../user/images/titlebg2.gif); WIDTH: 80px; CURSOR: hand; LINE-HEIGHT: 120%; PADDING-TOP: 2px
}
.title6 {
	FONT-WEIGHT: normal; BACKGROUND: url(../user/images/titlebg1.gif); WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px
}
.button1 {
	WIDTH: 90px
}
.show_page {
	TEXT-ALIGN: center
}
.date_border {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.date_title {
	FONT-WEIGHT: normal; BACKGROUND: #449ae8; COLOR: #ffffff
}
.date_tdbg {
	FONT-WEIGHT: normal; BACKGROUND: #449ae8; COLOR: #ffffff
}
.style2 {
	FONT-SIZE: 10px
}
.style3 {
	FONT-SIZE: 12px
}
#popitmenu {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; Z-INDEX: 100; VISIBILITY: hidden; FONT: 12px/18px Verdana; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: white
}
#popitmenu A {
	DISPLAY: block; PADDING-LEFT: 6px; COLOR: black; TEXT-DECORATION: none
}
#popitmenu A:hover {
	BACKGROUND-COLOR: #ccff9d
}
#userlogined {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
#userctrl {
	TEXT-ALIGN: center
}
#usermessage {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
.havemessage {
	BACKGROUND-COLOR: #ccff9d
}
.havemessaged {
	BACKGROUND-COLOR: #cc0000
}
.spaceList {
	WIDTH: 100%; TEXT-ALIGN: center
}
.spaceList_image {
	TEXT-ALIGN: center
}
.spaceList_intro {
	TEXT-ALIGN: center
}
#showspacelist_more {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
#supply {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px
}
.supplybut {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #d2d3d9 1px solid; DISPLAY: block; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #d2d3d9 1px solid; CURSOR: hand; LINE-HEIGHT: 25px; PADDING-TOP: 1px; TEXT-ALIGN: left
}
.supplybutover {
	BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #d2d3d9 1px solid; DISPLAY: block; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #d2d3d9 1px solid; CURSOR: hand; LINE-HEIGHT: 25px; PADDING-TOP: 1px; TEXT-ALIGN: left
}
.supplybut {
	BACKGROUND: url(/Skin/blue/main_title_575.gif)
}
.supplybutover {
	BACKGROUND: url(/Skin/blue/main_title_282.gif)
}
