vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Dec 2005 14:55:12 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|universityRENWEN\\Administrator
vti_modifiedby:SR|universityRENWEN\\Administrator
vti_timecreated:TR|29 Dec 2005 14:55:12 -0000
vti_cacheddtm:TX|29 Dec 2005 14:55:12 -0000
vti_filesize:IR|1957
vti_cachedlinkinfo:VX|S|images/bg4.gif S|images/dot.gif S|images/dot.gif
vti_cachedsvcrellinks:VX|FSUS|images/bg4.gif FSUS|images/dot.gif FSUS|images/dot.gif
vti_backlinkinfo:VX|UserInfo.ASP shengming.htm
