vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Dec 2005 14:54:30 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|universityRENWEN\\Administrator
vti_modifiedby:SR|universityRENWEN\\Administrator
vti_timecreated:TR|29 Dec 2005 14:54:30 -0000
vti_cacheddtm:TX|29 Dec 2005 14:54:30 -0000
vti_filesize:IR|984
vti_backlinkinfo:VX|editor_color.asp editor_fieldset.asp editor_find.asp editor_tableprops.asp Upfile_Dialog.asp Upload_Dialog.asp editor_InsertMedia.asp editor_InsertRM.asp editor_InsertTable.asp editor_cellprops.asp editor_InsertHR.asp editor_InsertPic.asp editor_InsertFlash.asp editor_InsertIframe.asp
