vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Dec 2005 14:55:56 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|universityRENWEN\\Administrator
vti_modifiedby:SR|universityRENWEN\\Administrator
vti_timecreated:TR|29 Dec 2005 14:55:56 -0000
vti_cacheddtm:TX|29 Dec 2005 14:55:56 -0000
vti_filesize:IR|1443
vti_cachedlinkinfo:VX|S|images/left_bg.gif S|images/right_bg.gif S|Images/jiaodian_bg.gif S|Skin/1/topbg.gif S|Skin/1/bottombg.gif S|Skin/1/topBar_bg.gif
vti_cachedsvcrellinks:VX|FSUS|images/left_bg.gif FSUS|images/right_bg.gif FSUS|Images/jiaodian_bg.gif NSUS|Skin/1/topbg.gif NSUS|Skin/1/bottombg.gif NSUS|Skin/1/topBar_bg.gif
vti_backlinkinfo:VX|Photo_CommentShow.asp User_Login.asp Vote.asp Article_Comment.asp Article_CommentShow.asp Article_js.htm Article_print.ASP ClassTree.asp FriendSiteModify.asp GuestSelect.asp sendmail.asp User_CheckReg.asp FriendSiteDel.asp Photo_Comment.asp User_RegCheck.asp diary_del.asp User_GetPassword.asp
