/*
Design by Free CSS Templates
http://renwen.university.edu.cn
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 30px;
	background: #C5AB33 url(images/img01.jpg) no-repeat;
	font: normal small Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #B43939;
}

h2 {
	margin-bottom: .8em;
	font-size: 2em;
	font-weight: normal;
}

h3 {
	margin-bottom: .5em;
	font: bold small Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

p, blockquote, ul, ol {
	margin-bottom: 1.4em;
	line-height: 1.8em;
}

p {
}

blockquote {
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}

a {
	text-decoration: none;
	color: #B43939;
}

a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

img {
}

/* Boxed Style */

.boxed {
	margin-bottom: 20px;
}

.boxed .title {
	height: 30px;
	padding: 20px 0 0 10px;
	background: url(images/img03.gif) no-repeat left center;
	font-size: 1.4em;
	font-style: italic;
}

.boxed .content {
	padding: 10px;
}

/* Logo */

#logo {
	width: 650px;
	height: 300px;
	padding: 10px 50px 0 0;
	background: url(images/img02.gif) no-repeat right top;
	text-align: right;
}

#logo h1 {
	font-size: 3.6em;
	font-weight: normal;
	font-style: italic;
}

#logo h2 {
	font-size: 1.6em;
	font-weight: normal;
	font-style: italic;
}

#logo a {
	color: #FFFFFF;
}

/* Content */

#content {
	width: 700px;
}

/* Content > Main */

#main {
	float: left;
	width: 400px;
	padding: 0 50px;
}

/* Content > Main > Welcome */

#welcome {
	margin-bottom: 2em;
	padding-bottom: .7em;
	border-bottom: 2px dotted #B43939;
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	float: right;
	width: 200px;
}

/* Content > Sidebar > Login */

#login {
}

#login form {
}

#login fieldset {
	border: none;
}

#login legend {
	display: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #B43939;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#inputtext1, #inputtext2 {
	color: #B43939;
}

#inputsubmit1 {
	background: #B43939;
	color: #FFFFFF;
}

/* Content > Sidebar > Menu */

#menu {
	margin-bottom: 30px;
	border-bottom: 4px solid #D1BC5C;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	padding: 10px;
	border-top: 1px solid #D1BC5C;
	font-weight: bold;
}

#menu a:hover, #menu .active a {
	background: #C29434;
	text-decoration: none;
	color: #FFFFFF;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}

/* Content > Sidebar > Partners*/

#partners {
}

#partners .content {
	padding: 10px 0;
}

#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}

/* Footer */

#footer {
	clear: both;
	padding: 20px 50px;
	border-top: 1px solid #D1BC5C;
	background: #C29434;
}

#footer p {
	margin: 0;
	font-size: x-small;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}